# Functions

#### Warm up

In [10]:
bands = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']

# for band in bands:
#     output.append(band.strip("., ").title())
# print(output)

bands = [band.strip(" .,").title() for band in bands]
print(bands)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [11]:
# Output: ['The Beatles', 'The Rolling Stones', etc]

In [12]:
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

bands2 = [band.strip(" .,").title() for band in bands2]
print(bands2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

## Functions

##### User-Defined vs. Built-In Function

In [13]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [14]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE WHEN CALLED>

# Creating a function
def say_hello(): # defining the function
    print('Hello')

In [15]:
print(say_hello)

<function say_hello at 0x0000015349329EE0>

In [16]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [17]:
# Executing a function
# Syntax: function_name()
say_hello()

Hello

##### Accepting Parameters

In [18]:
# Syntax: def function_name(param1, param2):
#             <CODE TO EXECUTE with variable param1 and param2>

def say_hello_again(first, last): # first and last are parameters (aka placeholders)
    print(f"Hello {first} {last}")

    
# Execute
# Syntax: function_name(data1, data2)
say_hello_again('Dillon', 'Dains') # Dillon and Dains are arguments (aka real data)

Hello Dillon Dains

In [19]:
# position matters!
say_hello_again('Chris', 'Potter')

Hello Chris Potter

##### Passing in variables as parameters

In [20]:
city1 = 'Boston'
state1 = 'MA'
zip_code1 = '02134'

city2 = 'New York'
state2 = 'NY'
zip_code2 = '12045'

In [21]:
# write a function that will accept a city name, state abbr, and zip code and format it -> City, State -- Zip Code

def format_address(city_name, state_code, zip_code):
    print(f'{city_name.title()}, {state_code.upper()} -- {zip_code}')

In [22]:
format_address('chicago', 'il','60606')

Chicago, IL -- 60606

In [23]:
format_address(city1, state1, zip_code1)

Boston, MA -- 02134

In [24]:
format_address(city2, state2, zip_code2)

New York, NY -- 12045

In [25]:
city_name = 'Los Angeles'
state_code = 'CA'
zip_code = '98343'

format_address(city_name, state_code, zip_code) # city_name, state_code, and zip_code are arguments! (happen to match the parameters)

Los Angeles, CA -- 98343

In [26]:
# In Practice:

def main():
    print('This is an address formatter program...')
    keep_going = True
    while keep_going:
        city = input('In which city do you live?')
        state = input(f'What is the state code for {city.title()}?')
        zip_code = input('What is the zip code?')
        format_address(city, state, zip_code)
        response = input('Would you like to format another address? Type "no" to quit ').lower()
        if response == 'no':
            keep_going = False
    print('Thank you for using our address formatter :')

In [27]:
# Execute the main() function

main()

This is an address formatter program...
1, 13 -- 5
5, 5 -- 5
5, 5 -- 5
Thank you for using our address formatter :

##### Keyword Arguments

In [28]:
# Function for making a payment to a loan

def make_a_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f'You have made a payment of ${amount_paid} to Account #{account_number}')
    print(f'Your new total is ${new_total}')
    print('Thank you for your payment')

In [29]:
make_a_payment(1000, 100, '987234')

You have made a payment of $100 to Account #987234
Your new total is $900
Thank you for your payment

In [30]:
# keyword arguments
#function_name(param_name1=arg1, param_name2=arg2, etc)

make_a_payment(amount_paid=200, account_number='98734987', total_amount_due=1500)
# make_a_payment(200, '994694057', 1500) # without keywords, will default to positional argument

You have made a payment of $200 to Account #98734987
Your new total is $1300
Thank you for your payment

In [31]:
# Combination of postional and keyword arguments -> ALL keyword arguments must come AFTER positional

make_a_payment(5000, account_number='479307502', amount_paid=500)

You have made a payment of $500 to Account #479307502
Your new total is $4500
Thank you for your payment

##### Default Parameters

In [32]:
# def function_name(pos_param1, pos_param2, default_param1=default_value1, default_param2 = default_value2, etc):
#   <Code for function goes here>

# Default parameters need to be AFTER any non-default params

def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions='', bacon=0):
    total_price = 4.50
    receipt = f'Thank you {customer_name}. Here is your receipt:\n'
    receipt += '1 Hamburger\n'
    if cheese:
        receipt += '\twith cheese\n'
    if lettuce:
        receipt += '\twith lettuce\n'
    if tomato:
        receipt +='\twith tomato\n'
    if onions:
        receipt += f'\twith {onions} onions\n'
    if bacon:
        receipt += f'\twith {bacon} pieces of bacon\n'
        total_price += .75*bacon
    receipt += f'Total: ${total_price:.2f}'
    print(receipt)

In [33]:
make_a_burger('Dillon')

Thank you Dillon. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
Total: $4.50

In [34]:
make_a_burger('Ed', False,)

Thank you Ed. Here is your receipt:
1 Hamburger
	with lettuce
	with tomato
Total: $4.50

In [35]:
make_a_burger('Billy', True, True, True, '', 2)

Thank you Billy. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with 2 pieces of bacon
Total: $6.00

In [36]:
make_a_burger('Billy', bacon=2)

Thank you Billy. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
	with 2 pieces of bacon
Total: $6.00

In [37]:
make_a_burger('Cotner', bacon=1, onions='grilled', tomato=False)

Thank you Cotner. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with grilled onions
	with 1 pieces of bacon
Total: $5.25

In [38]:
# Error (dangit Bush!)
# make_a_burger('Bush', ketchup = True)

##### \*args and **kwargs

In [39]:
help(min)

Help on built-in function min in module builtins:

min(...)
    min(iterable, *[, default=obj, key=func]) -> value
    min(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its smallest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the smallest argument.

In [40]:
min(10,5,6,2,6,0)

0

In [41]:
def my_min(arg1, arg2):
    if arg1 < arg2:
        print(arg1)
    else:
        print(arg2)

my_min(10,5,3)

TypeError: my_min() takes 2 positional arguments but 3 were given

In [ ]:
def my_function(arg1, *args):
    print('Arg1:', arg1)
    print('Args:', args, type(args))

my_function(1,2,3,6)

Arg1: 1
Args: (2, 3, 6) <class 'tuple'>

In [ ]:
# It is actually the asterisk (*) that tells python that these are optional arguments
def average(*numbers):
    print(numbers)
    total = 0
    for num in numbers:
        total += num
    print(total/len(numbers))

average(1,2,3,6,76,2,78,9)

(1, 2, 3, 6, 76, 2, 78, 9)
22.125

In [ ]:
def another_function(**kwargs):
    print(kwargs)
    print(type(kwargs))

another_function(name='Dillon', ketchup=True, colors=['orange', 'blue', 'green'], age=22,)

{'name': 'Dillon', 'ketchup': True, 'colors': ['orange', 'blue', 'green'], 'age': 22}
<class 'dict'>

In [ ]:
# order of parameters -> positional, optional, default, keyword optional

def everything(arg1, arg2, *args, default='Hello', **kwargs):
    print('arg1:', arg1)
    print('arg2:', arg2)
    print('args:', args)
    print('default:', default)
    print('kwargs:', kwargs)

In [ ]:
everything('A', 'B', 'C', 'D', 'E', key='value', name='Dillon', default='goodbye')

arg1: A
arg2: B
args: ('C', 'D', 'E')
default: goodbye
kwargs: {'key': 'value', 'name': 'Dillon'}

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

In [ ]:
cars = [('blue', 'toyota', 'tundra'), ('green', 'chevy', 'silverado'), ('pink', 'ford', 'f-150')]

In [ ]:
def car_info(color, make, model):
    print(f'{color} {make} {model}'.title())

car_info('yellow', 'ford', 'focus')

Yellow Ford Focus

In [ ]:
for car in cars:
    car_info(car[0], car[1], car[2])

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150

In [ ]:
my_car = ('red', 'ford', 'mustang')

col, mk, md = my_car

print('Color', col)
print('Make', mk)
print('Model', md)

Color red
Make ford
Model mustang

In [ ]:
for col, mk, md in cars:
    car_info(col, mk, md)

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150

In [ ]:
def format_car_args(*args):
    print(args)
    print(' '.join(args).title())

format_car_args('2021', 'new', 'blue', 'chevy', 'tahoe', 'w/ 4WD')

('2021', 'new', 'blue', 'chevy', 'tahoe', 'w/ 4WD')
2021 New Blue Chevy Tahoe W/ 4Wd

In [ ]:
my_car = ('green', 'toyota', 'camry', 'used')

format_car_args(*my_car)

Green Toyota Camry Used

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [ ]:
teacher = 'Ms. Buttercup' # global variable

def assign_student(student_name): # student_name is a local variable (function)
    teacher = 'Mr. Haskins'
    print(f"{student_name} has been assigned to {teacher}'s class")

assign_student('Dillon')
print(teacher)
# print(student_name) # NameError: name 'student_name' is not defined

Dillon has been assigned to Mr. Haskins's class
Ms. Buttercup

In [ ]:
evens_only = [] # Define flobal variable evens_only

def get_evens(list_of_numbers):
    evens_only = [] # Define local variable evens_only
    # Loop through each number in the list of numbers
    for num in list_of_numbers:
        # Check if the num is even (aka is divisible by 2)
        if num % 2 == 0:
            # Add the even num to an evens_only list
            evens_only.append(num)
    # Once we loop through every number in the list, print the evens only list
    print(evens_only)

In [ ]:
get_evens([1, 2, 3, 4, 5, 6, 7 ,8 ,9, 10])

[2, 4, 6, 8, 10]

In [ ]:
get_evens([10, 15, 20, 25, 30, 35, 40, 45, 50])

[10, 20, 30, 40, 50]

In [ ]:
my_list = ['a', 'b', 'c'] 
my_list.append('d') # .append is a method which is a function scoped to a class
print(my_list)

['a', 'b', 'c', 'd']

In [ ]:
from random import randint

randoms = [randint(1,100) for _ in range(20)]
print(randoms)

[2, 99, 8, 29, 90, 75, 72, 55, 40, 6, 19, 21, 10, 19, 43, 85, 1, 100, 8, 84]

In [ ]:
# Get all even numbers in the randoms list and then square each even number
evens = get_evens(randoms)

print(evens)

for num in evens:
    print(num**2)

[2, 8, 90, 72, 40, 6, 10, 100, 8, 84]
None

TypeError: 'NoneType' object is not iterable

##### Returning Values

In [ ]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

def f(x):
    return x*2

y = f(5)
print(y)

10

In [ ]:
z = f(10)
print(z)
print(z**2)

20
400

In [ ]:
# Return will also immediately terminate the function

def early_return(n):
    for i in range(n):
        return i

early_return(100)

0

In [ ]:
def another_early(n):
    print('Function started...')
    for i in range(n):
        if i == 5:
            return i
        print(i)
    print('Function finished...')

another_early(10)

Function started...
0
1
2
3
4

5

#### Multiple returns in a function

In [ ]:
names = ['Brian', 'Travis', 'Sarah', 'Kevin', 'Brandt', 'Shoha', 'Alex']

# Write a function that will return the index of the name or false if the name is not in the list

def get_index(person_name):
    # Check if the person_name is in the global names list
    if person_name not in names:
        return False
    else:
        person_index = names.index(person_name)
        return person_index

In [ ]:
get_index('Sarah')

2

In [ ]:
get_index('David')

False

In [ ]:
def can_vote(birth_year):
    if 2024 - birth_year >= 18:
        return True
    return False

# print(can_vote(2010))
print(can_vote(2000))

True

In [ ]:
def can_vote2(birth_year):
    if 2024 - birth_year >= 18:
        print(True)
    print(False)

# print(can_vote2(2010))
print(can_vote2(2000))

True
False
None

##### Difference between `return` and `print`

In [ ]:
def max_score(*scores):
    current_max = 0
    for score in scores:
        if score > current_max:
            current_max = score
    print(current_max)

In [ ]:
max_score(98, 94, 99, 87, 80, 83, 85, 100, 98, 89, 87)

100

In [ ]:
def score_calculator():
    score = []
    while True:
        score = input('Please enter a score or enter "done" when done. ').lower()
        if score == 'done':
            break
        scores.append(int(score))

    top_score = max_score(*scores)
    if top_score > 90:
        print(f'Congrats to the new world record score of {top_score}!!')
    else:
        print(f"Congrats to the winner with a top score of {top_score}!")

In [ ]:
score_calculator()

NameError: name 'scores' is not defined

#### Functions with Lists

In [46]:
# Cleaning the band names from the warmup
def clean_band_names(band_names):
    clean_bands = [band.strip(' ,.').title() for band in band_names]
    return clean_bands

In [47]:
clean1 = clean_band_names(bands)
print(clean1)

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [48]:
clean2 = clean_band_names(bands2)
print(clean2)

['The Who', 'The Doors', 'The Band', 'The Kinks']

In [49]:
clean3 = clean_band_names(['   ,.thE monKEes,,,', '   . .THe MaMAS & thE PapAs....'])
print(clean3)

['The Monkees', 'The Mamas & The Papas']

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [53]:
euro_cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]

nor_so_am_cities = [
    ('Mexico City', 'Mexico'),
    ('Buenos Aires', 'Argentina'),
    ('Sao Paulo', 'Brazil'),
    ('Santiago', 'Chile'),
    ('Rio De Janeiro', 'Brazil')
]



def cities_in_country(list_of_tuples, country_name):
    output = []
    for cities in list_of_tuples:
        if country_name == cities[1]:
            output.append(cities[0])
    return output

print(cities_in_country(euro_cities, 'England'))

['London', 'Manchester']

In [55]:
print(cities_in_country(euro_cities, 'Italy')) # ['Rome', 'Florence']
print(cities_in_country(euro_cities, 'Spain')) # ['Barcelona', 'Madrid']
print(cities_in_country(nor_so_am_cities, 'Brazil')) # ['Sao Paolo', 'Rio De Janeiro']

['Rome', 'Florence']
['Barcelona', 'Madrid']
['Sao Paulo', 'Rio De Janeiro']

In [56]:
def cities_in_country(list_of_tuples, country_name):
    list_of_cities = []
    for index in range(len(list_of_tuples)):
        if country_name == list_of_tuples[index][1]:
            list_of_cities.append(list_of_tuples[index][0])
    
    return list_of_cities

In [57]:
print(cities_in_country(euro_cities, 'Italy')) # ['Rome', 'Florence']
print(cities_in_country(euro_cities, 'Spain')) # ['Barcelona', 'Madrid']
print(cities_in_country(nor_so_am_cities, 'Brazil')) # ['Sao Paolo', 'Rio De Janeiro']

['Rome', 'Florence']
['Barcelona', 'Madrid']
['Sao Paulo', 'Rio De Janeiro']

In [58]:
def cities_in_country(list_of_tuples, country_name):
    output = []
    for city, country in list_of_tuples:
        if country_name == country:
            output.append(city)
    return output

In [59]:
print(cities_in_country(euro_cities, 'Italy')) # ['Rome', 'Florence']
print(cities_in_country(euro_cities, 'Spain')) # ['Barcelona', 'Madrid']
print(cities_in_country(nor_so_am_cities, 'Brazil')) # ['Sao Paolo', 'Rio De Janeiro']

['Rome', 'Florence']
['Barcelona', 'Madrid']
['Sao Paulo', 'Rio De Janeiro']

In [60]:
def cities_in_country2(tuples, country_name):
    return[city for city, country in tuples if country == country_name]

In [61]:
print(cities_in_country2(euro_cities, 'Italy')) # ['Rome', 'Florence']
print(cities_in_country2(euro_cities, 'Spain')) # ['Barcelona', 'Madrid']
print(cities_in_country2(nor_so_am_cities, 'Brazil')) # ['Sao Paolo', 'Rio De Janeiro']

['Rome', 'Florence']
['Barcelona', 'Madrid']
['Sao Paulo', 'Rio De Janeiro']

In [67]:
asian_cities = [
    ('Tokyo', 'Japan'),
    ('Beijing', 'China'),
    ('Delhi', 'India'),
    ('Shanghai', 'China'),
    ('Mumbai', 'India'),
    ('Osaka', 'Japan')    
]

In [68]:
cities_in_country2(asian_cities, 'China')

['Beijing', 'Shanghai']

#### Docstrings

In [62]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [63]:
help(cities_in_country2)

Help on function cities_in_country2 in module __main__:

cities_in_country2(tuples, country_name)

In [65]:
# A docstring is a string that is directly after our function definition, first line of the function's code block

def add_nums(num1, num2):
    '''
    add_nums takes in two number types (int or float) and will return the two added together
    num1 -> int or float
    num2 -> int or float
    returns int or float
    '''
    return num1 + num2

help(add_nums)

Help on function add_nums in module __main__:

add_nums(num1, num2)
    add_nums takes in two number types (int or float) and will return the two added together
    num1 -> int or float
    num2 -> int or float
    returns int or float

In [66]:
total = add_nums(10,20)
print(total)

30